# If you're on windows and want to update the database types with "npm run get-db-types",
# then you must use git bash
# All other platforms can ignore this and run it that command as usual.
# script-shell=C:\\Program Files\\git\\bin\\bash.exe # uncomment this line when running "npm run get-db-types"
